<div class="cont_centrar">
  <div class="cont_princ_lists">
    <ul>
      <li class="list_shopping li_num_0_1" style="border-left: 4px solid #6A55C2; color: #6A55C2;">
        <div class="col_md_1_list">
          <p>Next Task</p>
          </div>
        <div class="col_md_2_list" style="margin-top: .9em;">
          <h4>Fly to LA, meet with new customer</h4>
          <p>Completion Horizon: 1 Day</p>
        </div>
        <div class="col_md_3_list">
          <div class="cont_text_date">
            <p>Jan 0, 2018</p>
          </div>

        </div>
      </li>
    </ul>
    <ul>
      <li class="list_shopping li_num_0_1" style="border-left: 4px solid #6A55C2; color: #6A55C2;">
        <div class="col_md_1_list">
          <p>Task 2</p>
          </div>
        <div class="col_md_2_list" style="margin-top: .9em;">
          <h4>Align Goals with Ryan</h4>
          <p>Completion Horizon: 2 Days</p>
        </div>
        <div class="col_md_3_list">
          <div class="cont_text_date">
            <p>Jan 0, 2018</p>
          </div>

        </div>
      </li>
    </ul>
    <ul>
      <li class="list_shopping li_num_0_1" style="border-left: 4px solid #6A55C2; color: #6A55C2;">
        <div class="col_md_1_list">
          <p>Task 3</p>
          </div>
        <div class="col_md_2_list" style="margin-top: .9em;">
          <h4>Sythesize Qtr 2 Sales Insights</h4>
          <p>Completion Horizon: 2 Weeks</p>
        </div>
        <div class="col_md_3_list">
          <div class="cont_text_date">
            <p>Feb 0, 2018</p>
          </div>

        </div>
      </li>
    </ul>
    <ul>
      <li class="list_shopping li_num_0_1" style="border-left: 4px solid #6A55C2; color: #6A55C2;">
        <div class="col_md_1_list">
          <p>Task 4</p>
          </div>
        <div class="col_md_2_list" style="margin-top: .9em;">
          <h4>Go to Disney Land</h4>
          <p>Completion Horizon: 3 Months</p>
        </div>
        <div class="col_md_3_list">
          <div class="cont_text_date">
            <p>April 0, 2018</p>
          </div>

        </div>
      </li>
    </ul>
    <ul>
      <li class="list_shopping li_num_0_1" style="border-left: 4px solid #6A55C2; color: #6A55C2;">
        <div class="col_md_1_list">
          <p>Task 5</p>
          </div>
        <div class="col_md_2_list" style="margin-top: .9em;">
          <h4>Go to Disney Land again</h4>
          <p>Go to Disney Land again: 4 Months</p>
        </div>
        <div class="col_md_3_list">
          <div class="cont_text_date">
            <p>April 0, 2018</p>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>
